body {
    background-image: url("/images/PlnB BG.png");
    background-size: 110% auto;
    background-position: center -900px;
    background-repeat: no-repeat;

    min-height: 100vh;
    margin: 0;

    background-color: #07111F;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;

}
.top-bar {
    display: flex;
    padding-left: 10px;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #07111F;
    color: white;
    justify-content: flex-start;
}
.top-bar-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-right: 20px;
}
.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 500px;
    background-color: #07111F;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}