<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/images/css/index.css">
    <title>Index</title>
</head>
<body>


    <!-- Top Bar -->
    <div class="top-bar w-100 d-flex justify-content-center" style=" background-color: #07111F; height: 90px;">
        <img src="/images/PlnB logo.png" alt="PlnB Logo" style="width: 100px; height: auto;">
        <div class="top-bar-content d-flex align-items-center justify-content-flex-end" style="flex: 1;">
            <!-- Join Button -->
            <a href="#" style="color: white; text-decoration: none; font-size: 16px; background-color: none; border: 
            1px solid white; padding: 10px 20px; border-radius: 5px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold">Join The PlnB Community</a>

        </div>
        
    </div>


    <!-- Logo Section -->
<div class="logo-container d-flex w-100">
    <img src="/images/PlnB logo.png"
         alt="PlnB Logo"
         style="width: 350px; height: auto;">
         <p style="text-align: center; font-size: 18px; color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">PET SIMULATOR 99 CLAN</p>
         <p style="text-align: center; font-size: 16px; color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; letter-spacing: 2px;">PLAY • GRIND • GROW • CONQUER</p>
</div>

<!-- Content Section -->
<div class="content-container d-flex" style="margin-top: 10px; background-color: #07111F;">

    <!-- Contact Form -->
    <h1 style="text-align: center; color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Get In Touch</h1>
    <p style="text-align: center; color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 10px; margin-bottom: 30px; transform: translateY(-20px);">We would love to hear from you!<br> Please enter your message below and we will get back to you as soon as possible.</p>

    <input type="text" placeholder="Enter Your Discord Username" style="width: 75%; padding: 
    10px; border-radius: 5px; border: 1px solid #ccc; margin-left: auto; margin-right: auto; display: block; background-color: #172330; color: white; cursor: pointer;">

    <input type="text" placeholder="Enter Your Discord Username" style="width: 75%; padding: 
    10px; border-radius: 5px; border: 1px solid #ccc; margin-left: auto; margin-right: auto; display: block; margin-top: 20px; background-color: #172330; color: white; cursor: pointer;">

    <select style="width: 80%; padding: 10px; border-radius: 5px; border: 1px solid #ccc; margin-left: auto; margin-right: auto; display: block; margin-top: 20px; background-color: #172330; color: white; cursor: pointer;">
        <option value="general">General Inquiry</option>
        <option value="support">Support</option>
        <option value="feedback">Feedback</option>
        <option value="other">Other</option>
    </select>

    <textarea placeholder="Enter Your Message" style="width: 75%; padding: 
    10px; border-radius: 5px; border: 1px solid #ccc; margin-left: auto; 
    margin-right: auto; display: block; margin-top: 20px; background-color: #172330; color: white; cursor: pointer;"></textarea>

    <input type="submit" value="Submit" style="width: 80%; padding: 10px; 
    border-radius: 5px; border: 1px solid #ccc; margin-left: auto; margin-right: 
    auto; display: block; margin-top: 20px; background-color: #172330; color: white; cursor: pointer; margin-top: auto; margin-bottom: 15px;">

</div>





    


</body>
</html>